---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import TagHero from "../components/TagHero.astro";
import { images } from "../data/images";
const { image } = Astro.params;

const info = images.find((b) => b.id === image);

if (!info) {
  return Astro.redirect("/404");
}
---

<Layout title={`Imagenes ${info.title}`}>
  <Header />
  <main>
    <Hero>
      <TagHero slot="tag" tag={`${info.title}`} />
      <TagHero slot="tag" tag={`${info.type}`} />
    </Hero>
    <section class="w-full flex justify-center py-8 px-12 max-md:px-2">
      <div class="w-full grid grid-cols-2 gap-10 max-w-[1920px] max-lg:grid-cols-1">
        <picture class="overflow-hidden">
          <img
            style={`view-transition-name: image-${info.id};`}
            class="w-full h-full object-cover aspect-video rounded-lg"
            src={`${info.img}`}
            title={`${info.title}`}
            alt={`${info.title}`}
          />
        </picture>
        <div class="w-full flex flex-col gap-10">
          <header class="flex flex-col gap-4">
            <h1 class=`text-4xl font-semibold ${info.textColor}`>
              {`${info.title}`}
            </h1>
            <p class="text-2xl">Descargar Wallpaper totalmente gratis.</p>
            <div class="flex gap-2 items-center">
              {
                info.details.map((tag) => {
                  return <TagHero slot="tag" tag={tag} />;
                })
              }
            </div>
          </header>
          <footer class="flex gap-2">
            <a
              title="Descargar"
              class="bg-blue-600 text-lg rounded-lg text-white py-2 px-8"
              href={`${info.img}`}
              download={`${info.title}`}>Descargar</a
            >
            <a
              title="Volver"
              class="bg-gray-600 text-lg rounded-lg text-white py-2 px-8"
              href="javascript:history.back(-1);">Volver</a
            >
          </footer>
        </div>
      </div>
    </section>
  </main>
</Layout>
