---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import TagHero from "../components/TagHero.astro";
import { images } from "../data/images";
const { image } = Astro.params;

const info = images.find((b) => b.id === image);

if (!info) {
  return Astro.redirect("/404");
}
---

<Layout title={`Imagenes ${info.title}`}>
  <Header />
  <main>
    <Hero>
      <TagHero slot="tag" tag={`${info.title}`} />
      <TagHero slot="tag" tag={`${info.type}`} />
    </Hero>
    <section class="w-full flex justify-center py-8 px-12">
      <div class="w-full grid grid-cols-2 gap-10 max-w-[1920px]">
        <picture class="overflow-hidden">
          <img class="w-full h-full object-cover aspect-video rounded-lg" src={`${info.img}`} alt="/" />
        </picture>
        <div class="w-full flex flex-col gap-10">
            <header class="flex flex-col gap-4">
                <h1 class=`text-4xl ${info.textColor}`>{`${info.title}`}</h1>
                <p class="text-2xl">Descargar Wallpaper totalmente gratis.</p>
                <div>
                    <TagHero slot="tag" tag={`${info.details[0]}`} />
                    <TagHero slot="tag" tag={`${info.details[1]}`} />
                    <TagHero slot="tag" tag={`${info.details[2]}`} />
                </div>
            </header>
            <footer class="flex gap-2">
                <a class=`${info.bgColor} font-semibold opacity-100 text-lg rounded-xl text-white py-2 px-8` href="/">Descargar</a>
                <a class=`${info.bgColor} font-semibold opacity-100 text-lg rounded-xl text-white py-2 px-8` href="/">Visualizar</a>
            </footer>
            </footer>
        </div>
      </div>
    </section>
  </main>
</Layout>
