---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import ItemImg from "../components/ItemImg.astro";
import TagHero from "../components/TagHero.astro"
import { Image } from "astro:assets";
import react1 from "../img/react-1.jpg";
import react2 from "../img/react-2.jpg";
import react3 from "../img/react-3.jpg";
import react4 from "../img/react-4.png";
import react5 from "../img/react-5.png";
import react6 from "../img/react-6.png";

export const prerender = false;
---

<Layout title="Fresh Img - React">
  <Header react="text-cyan-500" />

  <Hero>
	<TagHero slot="tag" tag="React"/>
	<TagHero slot="tag" tag="Biblioteca"/>
  </Hero>

  <section class="w-full flex justify-center py-6 px-12">
    <div class="w-full max-w-[1920px] grid grid-cols-auto-fit gap-2">
      <ItemImg>
        <Image
          class="aspect-video object-cover transition-transform hover:scale-110"
          src={react1}
          alt="Image"
        />
      </ItemImg>
      <ItemImg>
        <Image
          class="aspect-video object-cover transition-transform hover:scale-110"
          src={react2}
          alt="Image"
        />
      </ItemImg>
      <ItemImg>
        <Image
          class="aspect-video object-cover transition-transform hover:scale-110"
          src={react3}
          alt="Image"
        />
      </ItemImg>
      <ItemImg>
        <Image
          class="aspect-video object-cover transition-transform hover:scale-110"
          src={react4}
          alt="Image"
        />
      </ItemImg>
      <ItemImg>
        <Image
          class="aspect-video object-cover transition-transform hover:scale-110"
          src={react5}
          alt="Image"
        />
      </ItemImg>
      <ItemImg>
        <Image
          class="aspect-video object-cover transition-transform hover:scale-110"
          src={react6}
          alt="Image"
        />
      </ItemImg>
    </div>
  </section>
</Layout>
