---
import Github from "../icons/Github.astro";
import Menu from "../icons/Menu.astro";
---

<header class="w-full flex justify-center py-6 px-12 max-md:px-2">
  <nav class="w-full grid grid-cols-8 gap-10 items-center max-w-[1920px] max-2xl:gap-4 max-xl:grid-cols-6 max-sm:grid-cols-4">
    <picture class="max-md:col-span-2 ">
      <a href="/" class="font-semibold text-2xl">Fresh Img</a>
    </picture>
    <div class="flex col-span-2 max-xl:col-span-3 max-sm:col-span-full">
      <input
        class="w-full py-2 px-4 border rounded-full"
        placeholder="Buscador"
        type="text"
        name=""
        id=""
      />
    </div>
    <div class="flex w-full justify-between items-center col-span-3 max-2xl:col-span-4 text-lg max-xl:hidden">
      <a href="/" class={`transition-colors hover:text-cyan-500 ${Astro.props.home}`}>Home</a>
      <a href="/html/" class={`transition-colors hover:text-cyan-500 ${Astro.props.html}`}>Html</a>
      <a href="/css/" class={`transition-colors hover:text-cyan-500 ${Astro.props.css}`}>Css</a>
      <a href="/js/" class={`transition-colors hover:text-cyan-500 ${Astro.props.js}`}>JavaScript</a>
      <a href="/react/" class={`transition-colors hover:text-cyan-500 ${Astro.props.react}`}>React</a>
      <a href="/tailwind/" class={`transition-colors hover:text-cyan-500 ${Astro.props.tailwind}`}>Tailwind</a>
      <a href="/next/" class={`transition-colors hover:text-cyan-500 ${Astro.props.next}`}>Next Js</a>
      <a href="/astrojs/" class={`transition-colors hover:text-cyan-500 ${Astro.props.astro}`}>Astro</a>
    </div>
  </nav>
  <a href="https://github.com/SebastianPerez11" target="_blank" class="place-self-center w-8 h-8 max-xl:hidden">
    <Github class="w-8 transition-colors hover:fill-cyan-500" />
  </a>
  <nav class="flex w-[42px] h-[42px] items-center justify-center xl:hidden">
    <Menu class="w-8 h-8 cursor-pointer"/>
  </nav>
</header>