---
import Github from "../icons/Github.astro";
---

<header class="w-full flex justify-center py-6 px-12">
  <nav class="w-full grid grid-cols-7 items-center gap-12 max-w-[1920px] max-2xl:gap-10 max-2xl:grid-cols-8">
    <picture class="">
      <a href="/" class="font-semibold text-2xl">Fresh Img</a>
    </picture>
    <div class="flex col-span-2">
      <input
        class="w-full py-2 px-4 border rounded-full"
        placeholder="Buscador"
        type="text"
        name=""
        id=""
      />
    </div>
    <div class="flex w-full justify-between items-center col-span-3 max-2xl:col-span-4 text-lg">
      <a href="/" class={Astro.props.home}>Home</a>
      <a href="/html/" class={Astro.props.html}>Html</a>
      <a href="/css/" class={Astro.props.css}>Css</a>
      <a href="/js/" class={Astro.props.js}>JavaScript</a>
      <a href="/react/" class={Astro.props.react}>React</a>
      <a href="/tailwind/" class={Astro.props.tailwind}>Tailwind</a>
      <a href="/next/" class={Astro.props.next}>Next Js</a>
      <a href="/astrojs/" class={Astro.props.astro}>Astro</a>
    </div>
    <a href="https://github.com/SebastianPerez11" target="_blank" class="place-self-end flex h-full">

      <Github class="w-8" />
    </a>
  </nav>
</header>